<div class="fixed_layer">

    <div class="content_container">
        <div class="subtitle">
            <h2>{{'change_password' | translate}}</h2>
            <h4>{{'fill_fields_to_change_password' | translate}}</h4>
        </div>
        <div class="forget_password_form">
            <form #forgetPasswordForm="ngForm" (ngSubmit)="onSubmit(forgetPasswordForm)" novalidate>
                <img src="./../../../assets/change-pass-avatar.png" alt="">
                <h2>{{'welcome' | translate}} {{username}}</h2>
                <div
                    class="outline_form_field"
                    [class.active]="activeFieldId === 'email'"
                    [class.invalid]="email.touched && email.invalid"
                    [class.valid]="email.touched && !email.invalid"
                    >
                    <label for="email">{{'email' | translate}}</label>
                    <input 
                        required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        type="email"
                        id="email"
                        ngModel
                        name="email"
                        #email="ngModel"
                        (focus)="onFocus('email')"
                        (focusout)="onFocusout('')">
                    <div class="err_msg" *ngIf="email.invalid && email.touched">
                        <small *ngIf="email.errors.required">{{'required_field' | translate}}</small>
                        <small *ngIf="email.errors.pattern">{{'make_sure_your_email_correct' | translate}}</small>
                    </div>
                </div>
                <button mat-raised-button [disabled]="forgetPasswordForm.form.invalid" type="submit" class="btn btn-primary submit">{{'send' | translate}}</button>
            </form>
        </div>
    </div>
</div>